#h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 100px;
    text-shadow: 6px 6px rgb(28, 5, 66);
}
.h2{
    text-align: center;
    background-color: white;
}
p{
    text-align: center;
    color: white;
}
#ul{
    color: white;
}
#img{
    width: 800px;
    height: 500px;
    padding-top: 20px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#vissza{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#button:hover {
    background-color: rgb(17, 19, 22);
    color:rgb(179, 128, 189);
    transition-duration: 0.5s;
    box-shadow: 2px 2px rgb(91, 89, 182);
    border-radius: 10px;
}
#vissza2{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}