#h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 100px;
    text-shadow: 6px 6px rgb(28, 5, 66);
}
.h2{
    text-align: center;
    background-color: white;
}
p{
    text-align: center;
    color: white;
}
#ul{
    color: white;
}
#img{
    width: 800px;
    height: 500px;
    padding-top: 20px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}