h1{
    color: rgb(188, 215, 216);
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    text-shadow: 3px 3px black;
    border: 1px solid black;
    background-color: rgb(162, 91, 190);
    border-radius: 8px;
    box-shadow: 5px 5px 5px;
    font-size: 50px;
}
#neon{
    background-size: 100%;
    background: repeat;
}
.th{
    background-color: rgb(162, 91, 190);
    border: 1px solid black;
}
#ul{
    font-size: 15px;
}
#ul2{
    font-size: 15px;
}
#lista{
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    color: rgb(81, 106, 189);
    border-radius: 8px;
    padding-left: 10px;
}
#h2{
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    color: rgb(81, 106, 189);
    border-radius: 8px;
}
#kep{
    height: 200px;
    width: 400px;
    padding-left: 20px;
}
#kep2{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}
#kep3{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}
#bev{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
#button:hover {
    background-color: rgb(17, 19, 22);
    color:rgb(179, 128, 189);
    transition-duration: 0.5s;
    box-shadow: 2px 2px rgb(91, 89, 182);
    border-radius: 10px;
}
table{
    border: 3px solid rgb(202, 128, 221);
}
#kep4{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}
#p{
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(208, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
}
#p2{
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(208, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
}
#kep5{
    height: 200px;
    width: 400px;
    padding-left: 20px;
}
#kep6{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}