h1{
    color: rgb(188, 215, 216);
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    text-shadow: 3px 3px black;
    border: 1px solid black;
    background-color: rgb(162, 91, 190);
    border-radius: 8px;
    box-shadow: 5px 5px 5px;
    font-size: 50px;
}
#neon{
    background-size: 100%;
    background: repeat;
}
.th{
    background-color: rgb(103, 88, 138);
    border: 1px solid black;
}
#ul{
    font-size: 20px;
}
#ul2{
    font-size: 15px;
}
#lista{
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    color: rgb(123, 144, 214);
    border-radius: 8px;
    padding-left: 10px;
}
#h2{
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    color: rgb(81, 106, 189);
    border-radius: 8px;
}
#kep{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}
#kep2{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}
#kep3{
    height: 200px;
    width: 300px;
    padding-left: 20px;
}
#bev{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
#button:hover {
    background-color: rgb(17, 19, 22);
    color:rgb(179, 128, 189);
    transition-duration: 0.5s;
    box-shadow: 2px 2px rgb(91, 89, 182);
    border-radius: 10px;
}
.table{
    border: 3px solid rgb(202, 128, 221);
}
#kep4{
    height: 200px;
    width: 300px;
    padding-left: 20px;
}
#p{
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(208, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
}
#p2{
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(208, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
}
#kep5{
    height: 200px;
    width: 400px;
    padding-left: 20px;
}
#kep6{
    height: 200px;
    width: 350px;
    padding-left: 20px;
}
#p3{
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    text-shadow: 3px 3px black;
    border: 1px solid black;
    background-color: rgb(208, 185, 218);
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    font-size: 20px;
}
#h22{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    text-shadow: 3px 3px rgb(19, 63, 185);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(184, 14, 184);
    font-size: 40px;
    background-color: rgb(86, 11, 105);
    color: white;
}
.p4{
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 25px;
    text-shadow: 3px 3px rgb(28, 76, 209);
}
#p5{
    color: rgb(20, 4, 46);
}
#akciokep{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
#kalandkep{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
#stratkep{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
#szimulatorkep{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
#sportkep{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
#multikep{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
#p6{
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(208, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
}
.homeHero__title {
	color: #fff;
	margin: 0 auto;
	font-family: proxima-nova,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	cursor: default;
}
.homeHero__title {
	text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.homeHero__title div{
    transition: 1.5s opacity ease .5s,1.5s transform ease .5s,.5s color ease,.5s -webkit-text-stroke ease,1.5s -webkit-transform ease .5s,1.5s -moz-transform ease .5s,1.5s -o-transform ease .5s;
}
.homeHero__title div:hover {
	color: #fff;
	-webkit-text-stroke: 2px #000;
}
.div2{
    font-size: 40px;
}
hr{
    border: 2px solid rgb(202, 128, 221);
}